
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    background-image: url('/img/background_Tekengebied\ 1.png');
    background-size: cover;
}

.fotoContainer {
    position: absolute;
}

.backgroundKaartjeTimSection {
    transform: rotate(1deg);
}

.backgroundKaartjeJodySection {
    transform: rotate(2deg);
}

.backgroundKaartjeMartijnSection {
    transform: rotate(-1deg);
}
