
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    background-image: url('/img/background_Tekengebied\ 1.png');
    background-size: cover;
}

.test {
    position: absolute;
}
