
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    background-image: url('../img/background_Tekengebied\ 1.png');
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.verdachten {
    position: absolute;
    transform: scale(.8);
    left: -1em;
    top: 3em;

}

.betrokkenen {
    position: absolute;
    transform: scale(.8);
    right: 0;
    top: 3em;
}

.fotoContainer {
    position: absolute;
    top: 17em;
}

.fotoContainer section a {
    position: absolute;
    right: -9%;
    top: 0;
    width: 40%;
}

.fotoContainer section a button {
    background: none;
    border: none;
}

.fotoContainer section a button img {
    width: 100%;
}

#backgroundKaartjeTimSection {
    transform: rotate(5deg) scale(.3) translateX(-200%);

}    

#backgroundKaartjeJodySection {
    transform: rotate(4deg) scale(.3);
}

#backgroundKaartjeMartijnSection {
    transform: rotate(-3deg) scale(.3) translateX(200%);
    
}


